@import "../../styles/_breakpoints"
$primary: #332E3C
$secondary: white
.container
  display: flex
  flex-direction: row
  color: $secondary
  height: calc( 100vh - 200px )
  margin: 0
  padding: 0
  @include breakpoint(md)
    flex-direction: column

.containerNotSelected
  @include breakpoint(md)
    justify-content: space-between
    .loginSide, .signupSide
      height: 50%

.loginSide
  @include breakpoint(md)
    &::before
      content: "Log In"

  form
    padding: 0px 10% 0px 0px
    align-items: flex-end
    @include breakpoint(md)
      align-items: center
      padding: 0

    input
      text-align: right
      @include breakpoint(md)
        text-align: left

.signupSide

  @include breakpoint(md)
    &::before
      content: "Sign Up"

  form
    padding: 0px 0px 0px 10%
    align-items: flex-start
    @include breakpoint(md)
      align-items: center
      padding: 0

.loginSide, .signupSide
  width: 50%
  height: 100%
  display: flex
  transition: all ease-in-out .3s
  opacity: .3
  background: $primary
  font-size: 16px
  @include breakpoint(lg)
    font-size: 12px
  @include breakpoint(md)
    width: 100%
    height: 20%
    opacity: 1
    position: relative
    &::before
      transition: all ease-in-out .2s
      font-size: 39.06px
      font-weight: 700
      display: flex
      align-items: center
      justify-content: center
      width: 100%
      height: 100%
      position: absolute
      -webkit-text-stroke: 1px $secondary
      background: $primary
      color: $secondary

  form
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    gap: 4px
    transition: all ease-in-out .3s
    text-shadow: 2px 7px 5px rgba(0,0,0,0.7), 0px -4px 10px rgba(255,255,255,0.3)

    @include breakpoint(lg)
      gap: 2px
    @include breakpoint(md)
      opacity: 0
      gap: 10px
    h3
      margin: 0
      padding: 0
      transition: all ease-in-out .3s
      font-size: 25px
      @include breakpoint(lg)
        font-size: 20px
      @include breakpoint(md)
        display: none
    input
      background: #ffffff0a
      border: none
      outline: none
      border-bottom: 1px solid $secondary
      width: 50%
      height: 40px
      font-size: 20px
      transition: all ease-in-out .2s
      color: $secondary
      box-shadow: 1px 3px 3px rgba(0,0,0,0.2),
      margin-bottom: 20px
      @include breakpoint(lg)
        height: 27px
        font-size: 16px
      &:focus
        transform: scale(1.05)

    .buttons
      display: flex
      align-items: center
      gap: 20px
      margin-top: 20px
      .button
        width: 100px
        height: 40px
        @include breakpoint(md)
          width: auto
      @include breakpoint(md)
        display: none

.loginSideActive
  width: 70%
  opacity: .9

  @include breakpoint(md)
    width: 100%
    height: 100%
    &::before
      opacity: 0
      display: none

  form
    gap: 10px
    @include breakpoint(lg)
      gap: 6px
    @include breakpoint(md)
      opacity: 1
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset
      gap: 10px
      .buttons
        display: flex
        flex-direction: row
    h3
      font-size: 31.25px
      @include breakpoint(lg)
        font-size: 25px
      @include breakpoint(md)
        display: none

.signupSideActive
  width: 70%
  opacity: .9
  @include breakpoint(md)
    width: 100%
    height: 100%
    &::before
      opacity: 0
      display: none

  form
    gap: 10px
    @include breakpoint(lg)
      gap: 6px
    @include breakpoint(md)
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset
      opacity: 1
      gap: 10px
      .buttons
        display: flex
    h3
      font-size: 31.25px
      @include breakpoint(lg)
        font-size: 25px
      @include breakpoint(md)
        font-size: 15px
