@import "../../../../styles/_breakpoints"
$primary: #796209
// self note: find better tertiary
$tertiary: #a0898680
.wrapper
  display: flex
  align-items: center
  flex-direction: column
  color: $tertiary
  white-space: nowrap
  cursor: pointer
  width: 100%
  ul
    margin: 0
    padding: 0
    display: flex
    margin-top: 10px
    gap: 15px
    padding: 4px 0px
  &:hover
    color: $primary
.listLengthThree
  display: flex
  justify-content: center
  flex-direction: row
  ul
    @include breakpoint(lg)
      flex-direction: column

.listLengthThreeWrapper
  display: flex
  flex-direction: row
  border-top: 1px solid $tertiary
.mainTitle
  border-bottom: none
  display: flex
  justify-content: center
  transition: .1s ease-in-out all
.kidsTitle
  border-bottom: 1px solid $tertiary
  width: 50%
.allTexts
  cursor: pointer
  transition: .2s ease-in-out all
  padding: 15px 9px
  @include breakpoint(lg)
    padding: 4px 9px
