@import "../../styles/_breakpoints"

.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 1rem
  padding-bottom: 0
  position: relative
  height: 80px
  transition: all .6s ease-in-out
  &Visible
    .logo
      animation: wiggle 2s linear
  &Hidden

@keyframes wiggle
  0%, 7%
    transform: rotateZ(0)

  15%
    transform: rotateZ(-15deg)

  20%
    transform: rotateZ(10deg)

  25%
    transform: rotateZ(-10deg)

  30%
    transform: rotateZ(6deg)

  35%
    transform: rotateZ(-4deg)

  40%, 100%
    transform: rotateZ(0)

.logo
  font-size: 2.5rem
  padding: 1rem
  font-weight: bold
  text-decoration: none
  margin-right: 2rem
  color: #796209
  transition: all .6s ease-in-out

  @include breakpoint(md)
    margin-right: 0
  @include breakpoint(md-sm)
    padding: .25rem
  @include breakpoint(sm)
    font-size: 1.2rem

  &:hover
    color: #a08986

.headerNavigationDesktop
  display: flex
  align-items: center
  width: 90%
  justify-content: space-between
  height: 100%
  @include breakpoint(md)
    display: none

.headerNavigationMobile
  display: none
  @include breakpoint(md)
    display: block

.headerDropdownDesktop
  display: flex
  gap: 20px
  div

.dropdownDesktop
  background: white
