@import "../../styles/_breakpoints"
$primary: #000
$secondary: white

.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 10px
  position: relative
  height: 80px
  transition: all .4s ease-in-out
  &Visible
    background: $secondary
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
    @include breakpoint(md)
      box-shadow: none
    .logo
      color: $primary

  &Hidden
    .logo
      color: $secondary
      @include breakpoint(md)
        color: $primary

.headerNavigationMobile
  display: none
  @include breakpoint(md)
    display: block

.dropdownDesktop
  display: block
  @include breakpoint(md)
    display: none

.logo
  font-size: 2.5rem
  padding: 1rem
  font-weight: bold
  text-decoration: none
  margin-right: 2rem
  transition: all .4s ease-in-out
  @include breakpoint(md)
    margin-right: 0
  @include breakpoint(md-sm)
    padding: .25rem
    font-size: 2rem

  @include breakpoint(sm)
    font-size: 1.2rem

.headerNavigationDesktop
  display: flex
  align-items: center
  width: 90%
  justify-content: space-between
  height: 100%
  @include breakpoint(md)
    display: none
