
.headerNavigationDesktopWrapper
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

.dropdownController
  display: flex
  align-items: center
  gap: 10%
  flex: 1
  height: 100%
.navItem

.dropdownWrapper
  position: absolute
  width: 100%
  top: 100%
  background: red
