
@import "../../../styles/_breakpoints"
$primary: #000
$secondary: white
.headerNavigationDesktopWrapper
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

.dropdownController
  display: flex
  align-items: center
  gap: 2%
  flex: 1
  height: 100%

.navItem
  display: inline-block
  border: none
  border-radius: 4px
  padding: 10px 20px
  font-size: 16px
  font-weight: bold
  text-align: center
  text-decoration: none
  background-color: transparent
  color: $primary
  position: relative
  overflow: hidden
  cursor: pointer
  transition: all .3s ease-in-out
  @include breakpoint(lg)
    padding: 5px 10px

  &Visible
    color: $primary

  &Hidden
    color: $secondary

  &::before, &::after
    content: ""
    position: absolute
    width: 100%
    height: 2px
    bottom: 0
    left: 0
    transform: scaleX(0)
    transform-origin: left
    transition: all .3s ease-in-out

    background-color: $primary

  &::before
    transform-origin: right
    left: 100%

  &:hover::before, &:hover::after
    transform: scaleX(1)

.navItemActive
  &::before, &::after
    transform: scaleX(1)

.navigation
  display: flex
  flex-direction: row
  gap: 15px
  margin: 0px 20px
  .searchForm
    display: flex
    align-items: center
    background: inherit
    padding: 0
    margin: 0
    transition: all 0.3s ease-in-out

    &Visible
      input
        width: 150px

    &Hidden
      input
        width: 0
    .searchInput
      border: none
      background: inherit
      outline: none
      padding: 0
      margin: 0
      font-size: 20px
      transition: all 0.3s ease-in-out

      &Visible
        border-bottom: 2px solid $primary
        color: $primary
      &Hidden
        border-bottom: 2px solid $secondary
        color: $secondary

      &:focus
        box-shadow: none
        outline: none

  .icons
    &Primary
      filter: grayscale(0%) invert(0%)
      transition: filter 0.3s ease-in-out

    &Secondary
      filter: grayscale(100%) invert(100%)
      transition: filter 0.3s ease-in-out

  .searchIcon
    transition: all 0.3s ease-in-out
    &Visible
      opacity: 1
    &Hidden
      opacity: .5
      transform: translatex(-30px) scale(.7)
