
.dropdownWrapper
  position: absolute
  top: 100%
  left: 0px
  width: 100%
  background: white
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px
  display: flex
  justify-content: center
  background-color: rgba(255, 255, 255, 0.95)
