
.dropdownWrapper
  position: absolute
  top: 100%
  left: 0px
  width: 100%
  background: white
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px
  display: flex
  justify-content: center
  background-color: white

  // &::before
  //   content: ""
  //   margin: 20px
  //   width: 90%
  //   height: 200px
  //   background-image: url(https://images.unsplash.com/photo-1620655036121-dff6e1ba95f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1179&q=80)
  //   background-position: center
  //   background-repeat: no-repeat
  //   background-size: cover
