$primary: #332E3C
$secondary: white
.vistrasButton
  width: fit-content
  min-width: 100%
  height: 100%
  background: none
  transition: all ease-in-out .2s
  border: 1px solid $secondary
  cursor: pointer
  white-space: nowrap
  color: $secondary
  transition: all ease-in-out .1s
  &:hover
    color: $secondary
    background: $primary
    box-shadow: 2px 7px 5px rgba(0,0,0,0.5), 0px -4px 10px rgba(255,255,255,0.2)
  &:active
    background: $secondary
    color: $primary
    box-shadow: none
  &:disabled
    background: none
    cursor: auto
    box-shadow: none
    color: $secondary
